<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VK</title>
</head>
<body>
    <h2>My Messages</h2>
    <table border=1 width="80%">
        {% for m in msgs %}
            {% if m.is_read %}
                <tr>
            {% else %}
                <tr bgcolor="#00ff00">
            {% endif %}
                <td> from: {{ m.user_send__first_name }} {{ m.user_send__last_name }} <br>
                </td>
                <td> <a href="/messages/im/{{ m.pk }}">{{ m.text }}</a> </td>
                <td> date: {{ m.date }} </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>