<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VK</title>
    <style>
        .main_content {
            background-color: #ccc;
            margin-left: 20%;
            width: 60%;
        }
        .msg {

        }
        .form {
            margin-left: 35%;
        }
        
    </style>
</head>
<body>
<div class="main_content">
    <a href="{% url 'im' %}"><button>Назад</button></a>
    <p>
        От: {{ msg.user_send.first_name }} {{ msg.user_send.last_name }}
    </p>
    <p>
        <div class="msg">
            {{ msg.text }}
        </div>
    </p>
    <p>
        Дата: {{ msg.date }}
    </p>
</div>
    <form method="post" class="form"> {% csrf_token %}
        <textarea cols="50" rows="10" name="text" onkeyup="countChar(this)">
        </textarea><br>
            <div id="charNum"></div>
        <input type="submit" value="Ответить">
    </form>
     <script src="http://code.jquery.com/jquery-1.5.js"></script>
      <script>
      function countChar(val) {
        var len = val.value.length;
          $('#charNum').text(len);
      };
    </script>
</body>
</html>