<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Twitter</title>
    </head>
    <body>
        <form method="post">{% csrf_token %}
             <textarea rows="5" cols="30" name="text"></textarea>
             <input type="submit" value="SEND">
        </form>
        <br>
        {% include 'twits_inc.html' %}
    </body>
</html>