<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All peoples</title>
</head>
<body>
    <h1>All peoples for admin</h1>
    {% for people in peoples %}
        <ol>
            <li>{{ people.user.first_name }} {{ people.user.last_name }}</li><br>
        </ol>
    {% endfor %}
</body>
</html>