<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colors</title>
</head>
<body>
    <table>
    <tr>
    <td><p>Name:</p></td>
    {% for i in name %}
    <td>
        <ol>{{i}}</ol>
    </td>
    {% endfor %}
    </tr>

    <tr>
    <td><p>Color:</p></td>
    {% for i in colors %}
    <td>
        <ol>{{i}}</ol>
    </td>
    {% endfor %}
    </tr>
    </table>
</body>
</html>