<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body>
    <form method="post"> {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Отправить">
    </form>



</body>
</html>