<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ param }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
    <body>
        <header>

        </header>
        <div>
            <div class="menu">
                <ul>
                    <a href="{% url 'profile_page' user.id %}">
                        <li>
                            Моя страница
                        </li>
                    </a>
                    <a href="{% url 'im' %}">
                        <li>
                            Мои сообщения
                        </li>
                    </a>
                </ul>
            </div>
            <div class="main">
                <div class="avatar">
                    <img src="" alt="{{ avatar.img.name }}">
                </div>
                <div class="name">
                    {% block name %}
                    {% endblock %}
                </div>
                <div class="table">
                    {% block table %}
                    {% endblock %}
                </div>
                <div class="rightmain">
                    {% block rightmain %}
                    {% endblock %}
                </div>
                <div class="leftmain">
                    {% block leftmain %}
                    {% endblock %}
                </div>
                <div class="walls">
                    Стена
                    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                        {{ form.as_p }}
{#                        <textarea name="text" rows="7" cols="50">#}
{#                        </textarea>#}
{#                        <input type="file" name="file">#}
                        <input type="submit" value="Отправить">
                    </form>
                    {% for article in wall %}
                        <div class="article">
                            <a href="/people/{{ article.who_posted.pk }}">
                                {{ article.who_posted.user.first_name }}
                                {{ article.who_posted.user.last_name }}<br>
                            </a>
                            {{ article.text }}<br>
                            {% if article.image %}
                                <img src="{{ article.image.url }}" width="50" height="50"> <br>
                            {% endif %}
                            {{ article.date }}
                             <p>
                                Likers: <button class="count" data-pk = "{{ article.pk }}">{{ article.like }}</button>
                             </p>
                        </div>
                    {% endfor %}
                    <script>
                         var buttons = document.getElementsByClassName("count");
                            for (var i = 0; i < buttons.length; i++) {
                                buttons[i].addEventListener("click", function(e) {
                                    var id = e.srcElement.dataset.pk;
                                    $.ajax({
                                        url: "/like/" + id,
                                        type: 'get',
                                        success: function(data) {
                                            e.srcElement.innerHTML = data;
                                        }
                                    });
                                });
                            }
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>