{% extends "base.html" %}
{% block name %}
    {{ page.user.first_name }}
    {{ page.user.last_name }}<br>
    {{ page.status }}
{% endblock %}
{% block table %}
    <table>
        <tr align="center">
            <td>
                {{ friends.count }}
            </td>
            <td>
                {{ subs.count }}
            </td>
        </tr>
        <tr>
            <td>
                Друзей
            </td>
            <td>
                Подписчиков
            </td>
        </tr>
    </table>
{% endblock %}
{% block leftmain %}
    <div class="friends">
        {% for friend in friends %}
            <a href="{% url 'profile_page' friend.pk %}">
                <div class="friend">
                    <img src="" alt="{{ friend.page_picture.order_by.first }}">
                    {{ friend.user.first_name }} <br>
                    {{ friend.user.last_name }}
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="groups">
        {% for group in groups %}
            <a href="{% url 'group' group.pk %}">
                <div class="group">
                    <img src="" alt="{{ group.page_picture.name }}">
                    {{ group.title }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}