<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>login</title>
    </head>
    <body>

  <form method='post'>{% csrf_token %}
    <label for="username">Логин:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Пароль:</label>
    <input type="password" name="password" value="" id="password">
    <input type="submit" value="login" />

  </form>

    <br>
     {% include 'twits_inc.html' %}
    </body>
</html>